<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--TO DO-->
    <!--In the following connectionString replace data-source, initial-catalog, user-id and password for the Azure SQL Connection -->
    <!--OR-->
    <!--Replace the entire connectionString with Azure SQL connectionString from App.config of QuickServiceDAL -->
    <add name="QuickServiceDB001Context" connectionString="metadata=res://*/QuickServiceModel.csdl|res://*/QuickServiceModel.ssdl|res://*/QuickServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=data-source;initial catalog=initial-catalog;user id=user-id;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuickServiceDBContext" connectionString="metadata=res://*/QuickService.csdl|res://*/QuickService.ssdl|res://*/QuickService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=quickserver.database.windows.net;initial catalog=QuickServiceWebAppTrial;persist security info=True;user id=quickserver01;password=Sdiv1522$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--TO DO-->
    <!--In the following replace account-name and account-key for the Azure Storage Connection -->
    <!--OR-->
    <!--Replace the entire StorageConnectionString with Azure Storage Connection from App.config of QuickServiceDAL -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=account-name;AccountKey=account-key" />
  </appSettings>
</configuration>